/* Don't create too much css in this folder. css should put inside component or use tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* dynamic change by js. It is a fallback */
  --app-height: 100vh;
}

@media (max-width: 768px) {
  .mobile-vers {
    width: 150px;
    height: auto;
  }
}

@layer base {
  html,
  body {
    -webkit-overflow-scrolling: touch;
  }

  body {
    /* -webkit-font-smoothing: antialiased; */
    -moz-osx-font-smoothing: grayscale;

    background: #2f2f2f;
  }
}

/** 
  Docs for why layer https://tailwindcss.com/docs/adding-custom-styles#using-css-and-layer
  In short, layer is a way to organize your css. So that you can override it easily
*/
@layer components {
  .arta-container-px {
    @apply px-6 lg:px-24;
  }
  .arta-container {
    @apply arta-container-px w-full max-w-main-contain;
  }

  .list {
    @apply mt-7  flex h-[158px] w-[158px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .activeList {
    @apply flex h-[220px] w-[220px] items-center justify-center rounded-[50%] border border-white bg-transparent p-5 text-center font-Verah;
  }
  .innerShadow {
    box-shadow: inset 0 0 14px 6px #8b653c;
    background: rgba(198,147,84,0.2);
  }

  @media (max-width: 1024px) {
    .innerShadowMobile {
      box-shadow: inset 0px 4px 30px #C69354;
      background: rgba(198,147,84,0.2);
    }
  }

  .easeInOutSine {
    transition: all 0.6s cubic-bezier(0.37, 0, 0.63, 1);
  }

  .animation {
    animation: slidein 0.3s linear forwards;
  }
  @keyframes slidein {
    from {
      top: -100%;
    }
    to {
      top: 0;
    }
  }

  #fullpage {
    @apply will-change-transform;
  }

  .arta-transition-fix {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    @apply will-change-transform;
  }

  .arta-hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .arta-hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .arta-eventItem:first-child {
    padding-top: 0;
  }

  .arta-eventItem:last-child {
    border: none;
    padding-bottom: 0;
  }

  .arta-gradient-border {
    padding: 2px;
    border-radius: 0 64px;
  }

  .arta-gradient-border>div {
    border-radius: 0 62px;
  }

  .arta-gradient-border-inner {
    position: absolute;
    inset: -600px;
    z-index: 0;
    background-image: linear-gradient(248.41deg, #9A7B49 3.4%, #8C7035 31.07%, #ECC962 46.16%, #AD9149 63.27%, #9A7B49 100%);;
    border-radius: 0 64px;
  }

  .arta-gradient-line-left {
    width: 1px;
    background-image: linear-gradient(89.57deg, #E3D29A 0.19%, #AE8D55 52.49%, #D4BF87 99.62%);
  }
}

.module-text-section ul,
.module-etg-text-section ul,
.job-description ul,
.blog-content ul {
  padding-left: 28px;
  list-style: disc;
  margin-top: 12px;
  margin-bottom: 24px;
}

.module-text-section ul li,
.job-description ul li,
.blog-content ul li {
  @apply font-Verah text-[1rem] leading-[1.5rem] tracking-wide;
  margin-top: 12px;
}
.module-text-col-list ul{
  list-style: disc;
  padding-left: 1.25rem;
  margin-top: 16px;
}
.module-etg-text-section p,
.module-text-col-list p,
.blog-content p {
  @apply mt-3;
}

.blog-content h2 {
  @apply font-Verah lg:text-[4.25rem] text-[3rem]  leading-[3.75rem]  lg:leading-[5rem] tracking-wide;
}

.blog-content h3 {
  @apply font-Verah text-[2.25rem] lg:text-[3rem] lg:leading-[3.75rem] leading-[3rem] tracking-wide;
}

.blog-content h4 {
  @apply font-Verah md:text-[2.25rem] text-[2rem] md:leading-[2.875rem] leading-[2.5rem];
}

.module-text-col-list p,
.module-text-col-list li,
.blog-content p,
.blog-content li {
  @apply text-[1rem] mb-3;
}
.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply pt-6 border-black border-t;
}

/* .module-text-col-list h1:first-of-type,
.module-text-col-list h2:first-of-type,
.module-text-col-list h3:first-of-type,
.module-text-col-list h4:first-of-type {
  border-top: none;
} */

.module-etg-text-section h3,
.module-etg-text-section h4,
.job-description h3,
.job-description h4,
.module-text-col-list h1,
.module-text-col-list h2,
.module-text-col-list h3,
.module-text-col-list h4 {
  @apply mt-4 text-arta-sand-100 font-Verah md:text-[1.5rem] text-xl leading-[2rem];
}

.animatedSpotLight1 {
  background: radial-gradient(circle, rgb(196, 146, 96) 0%, rgba(53,29,14,0) 70%);
  opacity: 0.4;
	top: 20vh;
	left: 50vh;
}

.animatedSpotLight2 {
  background: radial-gradient(circle, rgba(196, 146, 96, 0.7) 0%, rgba(53,29,14,0) 70%);
  transform-origin: -2%;
	top: 20vh;
	left: 50vh;
}

@media (min-width: 768px) {
  .animatedSpotLight1 {
    animation: gradientSpot1 55s ease infinite;
  }
  .animatedSpotLight2 {
    animation: gradientSpot2 75s ease infinite;
  }
}

@keyframes gradientSpot1 {
	0% {
    top: 100vh;
		left: -50vh;
    opacity: 0;
	}
  50% {
    opacity: 0.4;
	}
	100% {
    top: -200vh;
		left: 130vh;
    opacity: 1;
	}
}

@keyframes gradientSpot2 {
	0% {
    opacity: 0.6;
    transform: rotate(-160deg);
	}
  80% {
    opacity: 0.5;
    transform: rotate(0deg);
	}
	100% {
    opacity: 0.6;
    transform: rotate(200deg);
	}
}

.our-eco .swiper-slide {
  @apply pt-[20px] md:pt-[30px] lg:pt-[40px];
}

.ss-container {
  @apply bg-arta-sand-100/70 text-arta-snow-100 transition;
  transform: scale(0.9);
}

.ss-circle {
  @apply lg:h-16 lg:w-16;
}

.swiper-slide-active .ss-container {
  @apply bg-arta-eggshell-100 text-arta-sand-100 transform scale-[1.05] md:scale-[1.2];
}

.swiper-slide-active .ss-circle {
  @apply lg:h-20 lg:w-20;
}

.home-background-gradient {
  background: linear-gradient(0deg, rgba(14,28,45,0) 0%, rgba(53,30,14,1) 49%);
}

.about-background-gradient {
  background: linear-gradient(180deg, rgba(14,28,45,0) 0%, rgba(60,37,22,1) 49%);
}

.blog-content img {
  @apply w-full md:w-4/5 lg:w-3/5;
  margin: 0 auto;
}

.our-eco .swiper {
  padding-top: 80px;
}

.our-eco .swiper-slide {
  @apply transition-all;
}

.our-eco .swiper-slide.swiper-slide-active {
  transform: translateY(-70px) scale(1.12);
}

.our-eco .swiper-slide.swiper-slide-active .ss-container {
  @apply shadow-xl;
}

.our-eco .swiper-slide.swiper-slide-prev {
  @apply translate-y-[-40px] translate-x-[-20px];
}

.our-eco .swiper-slide.swiper-slide-next {
  @apply translate-y-[-40px] translate-x-[20px];
}

.our-eco .swiper-slide.swiper-slide-prev,
.our-eco .swiper-slide.swiper-slide-next {
  @apply transform;
}

input[type="checkbox"] {
  accent-color: #593725;  
}  
.arta-leadership-slide .slider-length-1{
  display: none;
}
@media (max-width: 575px) {
  .arta-leadership-slide .slider-length-2{
    display: none;
  }
}
.group-hover-bg-arta-sand-100:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2; 
  @apply bg-arta-sand-100;
}
.group-hover-bg-arta-black:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2; 
  @apply bg-arta-black;
}
.group-hover-bg-arta-p4-eggshell:before{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #A89689;
  border-radius: 10rem;
  transition: all 0.3s;
  z-index: -2; 
}
.group-hover-bg-arta-black:hover:before,
.group-hover-bg-arta-sand-100:hover:before,
.group-hover-bg-arta-p4-eggshell:hover:before{
  width: 100%;
}
.group-hover-bg-arta-sand-100:hover{
  color: #FFFFFF;
}
.group-hover-bg-arta-p4-eggshell:hover{
  @apply text-arta-sand-100;
  border-color: #A89689;
}
.group-hover-bg-arta-black:hover{
  @apply text-white;
  @apply border-arta-black
}
.arta-leadership-slide .swiper-button{
  color: #593725;
}
.arta-leadership-slide .swiper-button-disabled{
  color: #DED7D3;
}
.banner-text-shadow{
  text-shadow: 0px 4px 12px rgba(0, 0, 0, 0.36);
}

#home-our-business .swiper-slide-active .cta-btn {
  display: block !important;
}
/* artazine page */
.arta-app-page{
  font-family: "Untitled Sans";
}
.app-download-bg {
  background: url(/images/our-businesses/artazine/download.png) no-repeat;
  background-size: contain;
}
.app-download-slide {
  background: url(/images/our-businesses/artazine/home.png) no-repeat;
  background-size: 100%;
}
.app-download-slide2 {
  background: url(/images/our-businesses/artazine/nft.png) no-repeat;
  background-size: 100%;
}
.app-download-slide3 {
  background: url(/images/our-businesses/artazine/features.png) no-repeat;
  background-size: 100%;
}
.app-download-slide4 {
  background: url(/images/our-businesses/artazine/statistics.png) no-repeat;
  background-size: 100%;
}
.mode-default-btn {
  white-space: nowrap;
  transition: 0.2s;
}
.mode-default-btn:hover {
  @apply bg-arta-black;
  @apply text-white;
}
.arta-app-page .swiper-button-disabled {
  opacity: .3;
  cursor: default;
}
/* .fp-is-overflow:not(.active) #break-barriers video{
  opacity: 0;
} */

.whitespace-breakspace {
  white-space: pre;
  white-space: break-spaces;
}

input[type=checkbox] {
  @apply transform scale-[1.4] w-[24px] lg:scale-[1];
}
header{
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) -87.84%, rgba(208, 200, 192, 0) 100%);
}
@media (max-width: 1024px) {
  header{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.55) -59.37%, rgba(222, 215, 211, 0) 100%);
  }
}

.etg-outline {
  outline: 2px solid rgba(154, 137, 123, 0.6);
}