@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Vera Humana 95';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Verah___.ttf') format('truetype'), url('/fonts/Verahb__.ttf') format('truetype'),
    url('/fonts/Verahbi_.ttf') format('truetype'), url('/fonts/Verahi__.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HelveticaNeue-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/HelveticaNeue-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/HelveticaNeue_Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Editorial';
  font-style: normal;
  src: url('/fonts/Editorial-New-Regular-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/UntitledSans-Regular.ttf') format('truetype');
  font-weight: normal;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/UntitledSans-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Untitled Sans';
  src: url('/fonts/UntitledSans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@layer base {
  body {
    @apply font-Verah;
    font-size: 1.2vw;
  }
}
